<div class="container mx-auto flex-wrap">
    <h2 class="text-gray-900 my-4 text- font-sans text-center font-bold text-4xl">
    All Orders
    </h2>
    <div class="flex flex-wrap justify-center">
     <%= render @order %>
    </div>
</div>
