
<footer class="bg-violet-800 mt-8 shadow dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2023 Vlad Karabinovych.
    </span>
    <ul class="flex items-center list-reset text-xl">
        <li>
            <a href="#" class="mr-4 no-underline text-white hover:text-gray-lighter">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 no-underline text-white hover:text-gray-lighter">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 no-underline text-white hover:text-gray-lighter">Licensing</a>
        </li>
        <li>
            <a href="#" class="mr-4 no-underline text-white hover:text-gray-lighter">Contact</a>
        </li>
    </ul>
    </div>
</footer>
